@model CadetCorps.Areas.SecurityGuard.ViewModels.Members.EditMemberViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Edit @Model.FirstName @Model.LastName</h2>
<fieldset>
    @using (Html.BeginForm("EditUser", "Members", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Admin)
        @Html.HiddenFor(m => m.Active)
        @Html.HiddenFor(m => m.AcceptedTerms)
        @Html.HiddenFor(m => m.TrainingPlansId)
        <div>
            <div>
                <div>@Html.LabelFor(m => m.FirstName)</div>
            </div>
            <div>
                <div>@Html.EditorFor(m => m.FirstName)</div>
                <span>@Html.ValidationMessageFor(m => m.FirstName)</span>
            </div>
        </div>
        <div>
            <div>
                <div>@Html.LabelFor(m => m.MiddleName)</div>
            </div>
            <div>
                <div>@Html.EditorFor(m => m.MiddleName)</div>
                <span>@Html.ValidationMessageFor(m => m.MiddleName)</span>
            </div>
        </div>
        <div>
            <div>
                <div>@Html.LabelFor(m => m.LastName)</div>
            </div>
            <div>
                <div>@Html.EditorFor(m => m.LastName)</div>
                <span>@Html.ValidationMessageFor(m => m.LastName)</span>
            </div>
        </div>
        <div>
            <div>
                <div>@Html.LabelFor(m => m.Nickname)</div>
            </div>
            <div>
                <div>@Html.EditorFor(m => m.Nickname)</div>
                <span>@Html.ValidationMessageFor(m => m.Nickname)</span>
            </div>
        </div>
        <div>
            <div>
                <div>@Html.LabelFor(m => m.Username)</div>
            </div>
            <div>
                <div>@Html.EditorFor(m => m.Username)</div>
                <span>@Html.ValidationMessageFor(m => m.Username)</span>
            </div>
        </div>
        <div>
            <div>@Html.LabelFor(m => m.Comments)</div>
        </div>
        <div>
            <div>@Html.EditorFor(m => m.Comments)</div>
            <span>@Html.ValidationMessageFor(m => m.Comments)</span>
        </div>
        <div>
            <div>@Html.LabelFor(m => m.Email)</div>
        </div>
        <div>
            <div>@Html.EditorFor(m => m.Email)</div>
            <span>@Html.ValidationMessageFor(m => m.Email)</span>
        </div>
        <div>
            <div>@Html.LabelFor(m => m.Active)</div>
        </div>
        <div>
            <div>@Html.EditorFor(m => m.Active)</div>
            <span>@Html.ValidationMessageFor(m => m.Active)</span>
        </div>
        <div>
            <div>@Html.LabelFor(m => m.TrainingPlansId)</div>
        </div>
        <div>
            <div>@Html.EditorFor(m => m.TrainingPlansId)</div>
            <span>@Html.ValidationMessageFor(m => m.TrainingPlansId)</span>
        </div>
        
        <input type="submit" value="Edit" name="EditUser" />
    }
</fieldset>
