@model CadetCorps.Areas.SecurityGuard.ViewModels.Members.ListMembersViewModel
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Member Details</th>
                        <th>Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Members)
                    {
                        <tr>
                            <td>@Html.ActionLink("Select", "Details", "Members", new  {area = "SecurityGuard", id = item.Id}, null)</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.Username</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
