@model CadetCorps.ViewModels.ListMembersViewModel

@{
    ViewBag.Title = "Members";
}

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                @Html.ActionLink("Edit", "Edit", "Members")
                @Html.ActionLink("Create", "Create", "Members")
            </p>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Member Details</th>
                        <th>Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Members)
                    {
                        <tr>
                            <td>@Html.ActionLink("Select", "Edit", "Members", new {item.Id})</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.Username</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
